@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */


/* 上の部分 */
.small--btn{
font-size:16px;
text-align:center;
color:#fff;
display:inline-block;
height:26px;
line-height:26px;
border-radius: 3px;
cursor: pointer;
vertical-align:middle;
padding:0 15px;
}



.small--btn.common--btn{
  /* padding:10px 0 10px; */
  background:#00bcd4;
}
.small--btn.error--btn{
    /* padding:10px 0 10px; */
    background:#ff4081;
    margin-left:10px;
     }
.small--btn.disabled--btn{
    /* padding:10px 0 10px; */
    background:#e5e5e5;
    margin-left:10px;
      }
.small--btn.shadow--btn{
  /* padding:10px 0 10px; */
  color:black;
  background:white;
  margin-left:10px;
  box-shadow:0 1px 6px rgba(0,0,0,.12),0 1px 4px rgba(0,0,0,.12);
  /* box-shadow:0 1px 4px rgba(0,0,0,.12); */
}





.middle--btn{
  font-size:20px;
  text-align:center;
  color:#fff;
  display:inline-block;
  height:32px;
  line-height:32px;
  border-radius: 5px;
  cursor: pointer;
  vertical-align:middle;
  padding:0 20px;

  }


.middle--btn.common--btn{
  /* padding:10px 0 10px; */
  background:#00bcd4;
}
.middle--btn.error--btn{
    /* padding:10px 0 10px; */
    background:#ff4081;
    margin-left:10px;
      }
.middle--btn.disabled--btn{
    /* padding:10px 0 10px; */
    background:#e5e5e5;
    margin-left:10px;
      }
.middle--btn.shadow--btn{
  /* padding:10px 0 10px; */
  color:black;
  background:white;
  margin-left:10px;
  box-shadow:0 1px 6px rgba(0,0,0,.12),0 1px 4px rgba(0,0,0,.12);
   /* box-shadow:0 1px 4px rgba(0,0,0,.12); */
}





.large--btn{
  font-size:24px;
  text-align:center;
  color:#fff;
  display:inline-block;
  height:38px;
  line-height:38px;
  border-radius: 7px;
  cursor: pointer;
  vertical-align:middle;
  padding:0 25px;
  }


.large--btn.common--btn{
  /* padding:10px 0 10px; */
  background:#00bcd4;
}
.large--btn.error--btn{
    /* padding:10px 0 10px; */
    background:#ff4081;
    margin-left:10px;
      }
.large--btn.disabled--btn{
    /* padding:10px 0 10px; */
    background:#e5e5e5;
    margin-left:10px;
      }
.large--btn.shadow--btn{
  /* padding:10px 0 10px; */
  color:black;
  background:white;
  margin-left:10px;
  box-shadow:0 1px 6px rgba(0,0,0,.12),0 1px 4px rgba(0,0,0,.12);
  /* box-shadow:0 1px 4px rgba(0,0,0,.12); */
}


/* フォームの部分 */
form{
  background-color:#ecf1f2;
  width:700px;
  margin:0 auto;
  padding:20px;


}



/* 上の文字の部分 */

.form-title {
  position: relative;
}

.form-title-text{
  display: inline-block;
  font-size:24px;
  font-weight:bold;
  position:relative;

}


.form-title-text{
background-color:#ecf1f2;
padding-right:10px;
}

/* 上の文字の横線の部分 */

.form-title::before{

  content:"";
  width:100%;
  display:block;
  position:absolute;
  left:0;
  top:50%;
  background-color:#ccc;
  height:1px;

}




/* 下のフォーム部分 */






.form-main{
  width:300px;
  clear:both;
}



.name span{
  color:red;
}

.e-mail span{
  color:red;
}

.label{
  width:100px;
  float:left;
  line-height:25px;
  text-align:right;

  /* text-align:right; */
}

.item{
  height:25px;
  clear:bot;
}



input[type=radio]{
  /* width:40px;
  height:40px; */
}










/* 性別のラベル */

.gender{
float:righ;

}



#male{

  display:none;
}

#female{
  display:none;
}

.sex-inputs{
width:180px;
height:25px;
float:right;

}

.in-sex-inputs+.mark::before{
  position:absolute;
  content: "";
	top: 50%;
	left:0;
	margin-top: -8px;
	width: 14px;
	height: 14px;
	background-color: #FFF;
	border-radius: 50%;
	border: 1px solid #CCC;
	/* box-sizing: border-box; */
  /* margin-left:20px; */

}

.in-sex-inputs:checked + .mark::before {
 /* border: 5px solid #ea721f; */
 }

.in-sex-inputs:checked + .mark::after {
 position: absolute;
 content: "";
 top: 50%;
 left: 4px;
 margin-top: -4px;
 width: 8px;
 height: 8px;
 border-radius: 50%;
 background: #00bcd4;
 box-sizing: border-box;
 }

.mark{
  position:relative;
  display:inline-block;
  padding:3px 3px 3px 20px;
}

.gender span{
  color:black;

}

/* フォーカスの設定 */

.input-focus:focus{
box-shadow:0 0 7px #00bcd4;
/* border: solid 2px #666; */
outline:none;
}








 .inputs{
  height:15px;
  width:170px;
  border-radius:3px;
  border:none;
  float:righ;
  padding:5px;
  margin-left:20px;


  font-size:12px;
  line-height:12px;
}



/* セレクトタグの矢印 */





.out-from{
  /* width: 100%; */
  position: relative;
  display: inline-block;

}





.out-from::after {
  content: '';
  width: 8px;
  height: 8px;
  right:10px;
  top:4px;
  border-bottom: solid 2px #e5e5e5;
  border-right: solid 2px #e5e5e5;
  transform: rotate(45deg);
  position: absolute;
  pointer-events:none;
}





.from{


}

select{
      font-size:12px;
      line-height:12px;
      height:22px;
      width:180px;
      padding:5px;
      border:none;
      border-radius:3px;
      margin-left:20px;
      background-color:#fff;
      cursor:pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
      border-radius: 3px;
}


select::-ms-expand {
    display: none;
}

select:focus{
  outline:none;
}












form .item{
  margin-top:20px;
}




.text-input{
  width:380px;
  height:203px;
  padding:10px;
  border:none;
  border-radius:3px;
  resize:none;
  box-sizing:border-box;

  font-size:12px;
}

 /* 横並び */

.form-main{

float:left;
}
.form-side{
 margin-top:20px;
 float:right;
}



.form-wrapper::after{
  display:block;
  content:"";
  clear:both;
}
/* なんでできたかわからん */



/* 二十歳ボタン */





.age{
  text-align:right;
  margin:20px 0;
  height:16px;
}

.check{
  width:16px;
  height:16px;
  display:none;
}




.check+.age-mark::before{
  position:absolute;
  content: "";
	top: 50%;
	left:0;
	margin-top: -9px;
	width: 16px;
	height: 16px;
	background-color: #FFF;
	/* border-radius: 50%; */
	border: 1px solid #CCC;
	/* box-sizing: border-box; */
  /* margin-left:20px; */

}

.check:checked + .age-mark::before {
 /* border: 5px solid #ea721f; */
 }

.check:checked + .age-mark::after {
 position: absolute;
 content: "";
 top: 50%;
 left: 6px;
 margin-top: -14px;
 width: 8px;
 height: 16px;
 /* border-radius: 50%; */
 /* background: #00bcd4; */
 /* box-sizing: border-box; */
 border-right:3px solid #00bcd4;
 border-bottom:3px solid #00bcd4;
 transform:rotate(45deg);
 }

.age-mark{
  position:relative;
  display:inline-block;
  padding-left:24px;
}











/* 送信ボタン */

.btn-area{
  text-align:right;
}




.submit{
  font-size:16px;
  line-height:26px;
  background-color:#00bcd4;
  color:white;
  border-radius:5px;
  padding:0 10px;
  border:0;
  cursor:pointer;
}



.submit:focus{
outline:none;

}


.submit:active{
  background-color:#FFF;
  color:#00bcd4;
}
